- title "My todo lists"

- if @lists.empty?
  %p You don't have any lists. Why don't you create one below?
- else
  %ul#lists
    = render partial: 'list', collection: @lists, :as => :list

%h2 Make a new list
= render partial: 'form', locals: {list: @list}
