- title @list.name

= link_to "View all lists", root_url

= render partial: 'lists/header', locals: {list: @list}

= render partial: 'todos/todos_container', locals: {list: @list}

%h2 Add a new todo
= render partial: 'todos/form',
         locals: {list: @list, todo: @todo}
