- title @list.name

= link_to "View all lists", root_url

= render partial: 'header', locals: {list: @list}

- if @list.todos.empty?
  %p This list doesn't have any todos. Why don't you add one below?
- else
  %ul#todos
    = render partial: 'todos/todo',
      collection: @list.todos.reject(&:new_record?),
      locals: {list: @list},
      :as => :todo

%h2 Add a new todo
= render partial: 'todos/form',
         locals: {list: @list, todo: @todo}
